/* * {
  background-color: #f0f2f5;
} */

.fbheader {
  letter-spacing: -1px;
  color: #0866ff;
  font-size: 28px;
  text-align: center;
  align-items: center;
  margin-top: -20px;
  font-family: "Klavika", "Letter Faces", "Facebook Letter Faces", sans-serif;
}

.content-border {
  text-align: center;
  width: 32%;
  border: 5px solid white;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;
}

.SignUpButton {
  background-color: #00a400;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.TextInputName {
  height: 35px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 45%;
  font-size: 15px;
  color: #d3d3d3;
}

.TextInputName::placeholder {
  color: #90949c;
}

.Line {
  background-color: #d3d3d3;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.TextInput {
  height: 35px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 90%;
  font-size: 15px;
  color: #d3d3d3;
}

.ContentText {
  color: #656770;
  /* justify-content: flex-start; */
  text-align: left;
  font-size: 15px;
}

.DateSelector {
  height: 35px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 30%;
  font-size: 15px;
  color: #d3d3d3;
}

.RadioInput {
  color: gainsboro;
  order: 1;
}

.LogInButton {
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  /* padding: auto; */
  padding: 20px;
  /* max-width: 50%; */
  width: 50%;
  border: none;
  font-size: 25px;
  margin-top: 10px;
}

/* ati jati dhoop aur chao */

.radio-container {
  display: flex;
  align-items: center;
}
.radio-label {
  margin-right: 10px;
}
.radio-input {
  order: 1; /* Reverses the order of the radio input */
  border: 1px solid #000; /* Add a black border around the radio input */
  padding: 4px;
}
