body,
html {
  margin: 0;
  height: 100%;
}

#root {
  background-color: #f0f2f5;
}

.fbheader {
  letter-spacing: -1px;
  color: #0866ff;
  font-size: 28px;
  text-align: center;
  align-items: center;
  margin-top: -20px;
  font-family: "Klavika", "Letter Faces", "Facebook Letter Faces", sans-serif;
}

.content-border {
  text-align: center;
  padding-top: 1px;
  width: 35%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  min-width: 400px;
  box-shadow: -1px 1px 15px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px 0px 50px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 20px 5px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
}

.SignUpButton {
  background-color: #00a400;
  color: #fff;
  margin: 10px 0 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 42%;
}

.TextInputName {
  height: 35px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 45%;
  font-size: 15px;
}

.TextInputName::placeholder {
  color: #90949c;
  padding: 10px;
}

.Line {
  background-color: #d3d3d3;
  height: 1px;
  margin-bottom: 10px;
}

.TextInput {
  height: 35px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 93%;
  font-size: 15px;
}

.TextInput::placeholder {
  color: #90949c;
  padding: 10px;
}

.ContentText {
  color: #656770;
  text-align: left;
  font-size: 13px;
  padding-left: 15px;
  margin-bottom: 0;
}

.DateSelector {
  height: 35px;
  margin: 5px;
  border-color: #d3d3d3;
  border-radius: 5px;
  outline: none;
  width: 30%;
  font-size: 15px;
}

.LogInButton {
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  padding: 13px;
  width: 94%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}



a {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}

#HeaderTitle {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #1c1e21;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-weight: bold;
}
#HeaderText {
  color: #606770;
  margin-top: -22px;
}

#ContentMessage {
  width: auto;
  color: #777;
  font-size: 11px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

#LogInLinks {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
}

#LogInLinks a {
  font-size: 14px;
  display: inline;
  text-align: center;
  color: #1877f2;
}

#LogInLinks p {
  font-size: 12px;
  display: inline;
  margin: 0 10px;
}

a:visited {
  color: #1877f2;
}

.RadioInput {
  border: 1px solid #d3d3d3;
  text-align: left;

  border-radius: 4px;
  padding: 5px;
  width: 28%;
  display: inline-block;
  margin: 4px;
}

.RadioInput label {
  margin-left: 5px;
}

.RadioInput input {
  justify-content: right;
}
